# Virtual Environment
venv/
.venv/
env/

# Local Vector Databases (Crucial to ignore these!)
chroma_db/
chroma_db_*

# Python caches & IDE configuration
__pycache__/
.ipynb_checkpoints/
.vscode/
.env
